/*COLOR CUBE*/

$color-white: #ffffff;
$color-black: #030303;
$color-tundora: #434343;
$color-suva-gray: #868586;
$color-saffron: #f3b329;
$color-pumice: #bec6be;
$color-blue-lagoon: #027986;
$color-corn-harvest: #936c0f;
$color-fountain-blue: #51bfc7;
$color-alizarin-crimson: #d61a2a;
$color-light-green: rgb(91, 195, 84);
$color-green: #49a987;

/*MEDIAN CUT*/

$color-dawn-pink: #f3ece3;
$color-cod-gray: #1d1c1a;
$color-pewter: #96a4a3;
$color-sand-dune: #7c6e69;
$color-oslo-gray: #86888e;

/*MATERIAL DESIGN*/

$color-anzac-vibrant: #e1aa40;
$color-scorpion-muted: #5b5b5b;
$color-kappel-dark-vibrant: #3da698;
$color-merlin-dark-muted: #453e39;
$color-tan-light-vibrant: #d5ad91;

/*FONTS*/

$font-kristi: 'Kristi', cursive;
$font-dm-serif-display: 'DM Serif Display', serif;